<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NovigradService"
        tools:targetApi="31">

        <activity
            android:name=".RatingActivity"
            android:exported="false"/>
        <activity
            android:name=".UserRequestActivity"
            android:exported="false"/>
        <activity
            android:name=".AddServiceRequestActivity"
            android:exported="false"/>
        <activity
            android:name=".ServiceNovigradScreens.BranchWorkingActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceNovigradScreens.viewRequestRecordScreen"
            android:exported="false" />
        <activity
            android:name=".ServiceNovigradScreens.ViewHealthCardServiceScreen"
            android:exported="false" />
        <activity
            android:name=".ServiceNovigradScreens.ViewLicenseServiceScreen"
            android:exported="false" />
        <activity
            android:name=".ServiceNovigradScreens.ViewPhotoIdServiceScreen"
            android:exported="false" />
        <activity
            android:name=".ServiceNovigradScreens.ServiceNovigradMainActivity"
            android:exported="false" />
        <activity
            android:name=".AdminScreens.CustomerRecordListActivity"
            android:exported="false" />
        <activity
            android:name=".AdminScreens.ViewPhotoIdServiceActivity"
            android:exported="false" />
        <activity
            android:name=".AdminScreens.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".AdminScreens.ViewHealthCardServiceActivity"
            android:exported="false" />
        <activity
            android:name=".AdminScreens.ViewLicenseServiceActivity"
            android:exported="false" />
        <activity
            android:name=".AdminScreens.AddPhotoIdServiceActivity"
            android:exported="false" />
        <activity
            android:name=".AdminScreens.AddHealthCardServiceActivity"
            android:exported="false" />
        <activity
            android:name=".AdminScreens.AddLicenseServiceActivity"
            android:exported="false" />
        <activity
            android:name=".Screens.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Screens.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>